bind: "localhost:5000"
pidfile: "/var/run/dot.pid"
dns_suffix: "/skydns/com/hunantv/intra"
masteraddr: "10.1.201.99"
minport: 49000
maxport: 49100
podname: "intra"
db:
    name: "default"
    use: "mysql"
    url: "root:@/dot?charset=utf8"
dbmgr:
    name: "mgr"
    use: "mysql"
    url: "root:@/dot?charset=utf8"
redismgr: "10.1.201.47:8889"
sentrymgr: "http://10.1.201.47:8000"
etcd:
    sync: true
    machines:
        - "127.0.0.1:4001"
        # - "10.1.201.110:4001"
        # - "10.1.201.110:4002"
        # - "10.1.201.110:4003"
        # - "10.1.201.110:4004"
        # - "10.1.201.110:4005"
task:
    dispatch: 5
    queuesize: 10
    restartsize: 5
nginx:
    template: "templates/nginx.tmpl"
    conf: ""
    port: 80
    staticdir: "/root/"
    staticsrcdir: "/mnt/mfs/"
influxdb:
    host: localhost
    port: 8086
    username: username
    password: password
